--allman false
--binarygrouping none
--closingparen balanced
--commas inline
--conflictmarkers reject
--decimalgrouping none
--elseposition same-line
--guardelse same-line
--empty void
--exponentcase lowercase
--exponentgrouping disabled
--fractiongrouping disabled
--fragment false
--header "\nRouteComposer\n{file}\nhttps://github.com/ekazaev/route-composer\n\nCreated by Eugene Kazaev in 2018-{year}.\nDistributed under the MIT license.\n\nBecome a sponsor:\nhttps://github.com/sponsors/ekazaev\n"
--hexgrouping none
--hexliteralcase uppercase
--ifdef no-indent
--importgrouping alphabetized
--indent 4
--indentcase false
--linebreaks lf
--maxwidth none
--nospaceoperators ...,..<,..>
--octalgrouping none
--operatorfunc spaced
--patternlet hoist
--self init-only
--selfrequired
--semicolons inline
--stripunusedargs closure-only
--tabwidth unspecified
--trailingclosures
--trimwhitespace always
--wraparguments preserve
--closingparen same-line
--wrapcollections preserve
--xcodeindentation enabled
--modifierorder public,final,override
--disable blankLinesAtEndOfScope,blankLinesAtStartOfScope,redundantReturn,wrapMultilineStatementBraces
--enable isEmpty
--exclude Pods,docs,Example/Pods